body {
  font-family: Arial, sans-serif;
  margin: 32px;
}

h1 {
  text-align: center;
}

.texto-grande {
  font-size: 24px;
}

a {
  color: #1769aa;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
